<li><h2><%= link_to_function %{#{store.name}<span class="gradient"/><span class="crown"/>}, 
                             %{ centerMapOn(#{store.latitude},#{store.longitude}) } %></h2>
  <h4>
    <%= store.location %>
  </h4>
</li>
