<% if @stores.empty? %>
  <p>We need to know what you like to buy before we can tell you where you
  should buy it. Please go buy something nice (a delicious steak, some fine
  wine, or even flowers) and <%= link_to 'give us your receipt', purchases_path
  %> when you come home.</p>
<% else %>
  <ol id="best-stores">
    <%= render :partial => 'winning_store', :locals => {:store => @stores[0]} %>
    <%= render :partial => 'map' %>
    <%= render :partial => 'store', :collection => @stores[1..-1] %>
  </ol>
<% end %>
