<div id="account-changes">
  <% form_for @user do |form| %>
    <%= render :partial => '/users/form', :object => form %>    
    <p id="account-submit">
      <%= form.submit 'update' %>
    </p>
  <% end %>     
</div>