<div class="stores_container">
  <% content_tag_for :div, @purchase, :map_for,
    :style => "width: 400px; height: 160px;",
    :class => 'map' do end %>

  <ol class="other-stores">
    <% @stores.each do |store| -%>
      <% content_tag_for :li, store do %>
        <span class="other-store-name"><%=h store.name %></span>
        <span class="other-store-price"><%= number_to_formatted_currency(@item.purchases.in_stores([store]).cheapest.price) %></span>
      <% end -%>
    <% end -%>
  </ol>
</div>
